
.link_section{
    padding: 5px;
    display: block;
    background-color:var(--background-black-color);
    border-radius: 3px;

    & h3{
        font-family: "Doto", serif;
        color:var(--secondary-border-or-title);
    }

    & a{
       padding-left:10px;
       font-family: GohuFont, serif;
       color:cyan;
       text-decoration: none;
       transition:0.5s;
       &:hover{
           text-decoration: underline;
       }
    }

}