header{
    position:relative;
    display:grid;
    grid-template-columns: repeat(3, 0.5fr);
}


img{
    height: 8vw;
    width: 100%;
}


.profile_picture{
    grid-row-start: 1;
    left:0;
    bottom:5px;
    @media only screen and (max-width: 900px) {
        bottom:3px;
        height: 30vw;
    }
}