header{
    position:relative;
}


img{
    height: auto;
    width: 100%;
}


.profile_picture{
    height: 8vw;
    @media only screen and (max-width: 900px) {

        height: 30vw;
    }
    width: auto;
    left:0px;
    bottom:3px;
    background-color: black;
    border-color: var(--secondary-border-or-title);
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    position: absolute;
}