---
import MyHeader from "../components/myHeader.astro";
import "./index.css"
import LinksCollection from "../components/LinksCollection.astro";
import ProjectComponent from "../components/ProjectComponent.astro";
import Buttons from "../components/Buttons.astro";
---
<head>
	<meta charset="utf-8" />

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} >
	<title>Powerdino's site</title>
	<meta name="description" content="The site of Powerdino">
</head>
<body>

<section class="main_section">

		<MyHeader/>
		<div class="container_div">
			<div class="main_body">
				<section class="first_section">
					<h1 class="_title">Welcome to Powerdino's site</h1>
					<h2>Android and web developer</h2>
					<h3>I code when i'm bored, XML hater</h3>
				</section>

				<section class="langs">
					<h1>Programming languages I normally use: </h1>
					<ul>
						<li>Kotlin</li>
						<li>Java</li>
						<li>JavaScript</li>
						<li>TypeScript</li>
					</ul>
				</section>

				<Buttons></Buttons>
			</div>

			<LinksCollection class="links" ></LinksCollection>

			<section class="main_body">
				<h1 class="secondary_title">Projects:</h1>
				<ProjectComponent
					class="ProjectComponent"
					title="Ensaimadium"
					description="A prototype web browser made from scratch"
					link="https://github.com/ThePowerdinoDeluxe990/Ensaimadium"></ProjectComponent>

				<ProjectComponent
					class="ProjectComponent"
					title="Training App"
					description="A prototype of an Training app, made with Kotlin and Jetpack Compose"
					link="https://github.com/ThePowerdinoDeluxe990/TrainingApp"
				></ProjectComponent>

				<ProjectComponent
					class="ProjectComponent"
					title="Wallpaper App"
					description="An app that downloads wallpapers, made with Kotlin and Jetpack Compose"
					link="https://github.com/ThePowerdinoDeluxe990/Splatoon_Wallpapers_App"></ProjectComponent>
			</section>
		</div>
	</section>

</body>

