@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.main_section {
    display: grid;
    place-content: center ;

    color:white;
}

.main_body {
    background-color: black;
    border: 1px solid white;
    font-family: monospace;
    padding: 3px;
}

._title{

    font-family: "JetBrains Mono ExtraBold", serif;
}

body{
    background: linear-gradient(#07078a, black) no-repeat fixed;
}