:root {
    /*
    I love CSS variables
     */
    --border-color-theme: rgb(255,79,202);
    --background-black-color: rgb(31,31,31);
    --title-color-theme: rgb(255,135,215,100);
    --secondary-border-or-title: rgb(102,255,186);
}


.main_section {
    display: grid;
    place-content: center ;
    color:white;
}

.container_div{

    display: grid;

    grid-template-columns: 4fr 1fr;
    gap: 0.5%;
}

.links{
   padding: 5px;
}

.main_body {
    background-color: var(--background-black-color);
    border: 3px solid var(--border-color-theme);
    font-family: monospace;
    padding: 8px;
    border-radius: 3px;
}

._title{
    color: var(--title-color-theme);
    font-family: "JetBrains Mono ExtraBold", serif;
}

body{
    background-image: url("../assets/background_page.png") ;
}

@font-face {
    font-family: 'GohuFont';
    src: url('/public/fonts/GohuFont11NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono ExtraBold';
    src: url('/public/fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}