---
import MyHeader from "../components/myHeader.astro";
import "./index.css"
---

<body>
	<section class="main_section">

		<MyHeader/>
		<div class="main_body">
			<h1 class="_title">Powerdino's site</h1>
			<h3>Android and web developer</h3>
		</div>
	</section>
</body>