---
import "./stylesheets/LinksCollection.css"
import github from "../assets/Buttons/github.gif"
import Buttons from "./Buttons.astro";
---
<section class="link_section">
    <h3>Links:</h3>

    <a href="https://github.com/ThePowerdinoDeluxe990"><img class="my_button" src={github.src} alt="Button"/> </a>
</section>
<style>

    .link_section{
    }
    img{
        width: 88px;
        height:31px;
        max-width:88px;
        max-height:31px;


    }
</style>
