---
import HeaderImage from "../assets/banner_Page.jpg"
import "./stylesheets/myHeader.css"
import {Image} from "astro:assets"
import ProfileCard from "./ProfileCard.astro";

---
<header>

    <Image alt="Header" src={HeaderImage}></Image>
    <div class="profile_picture">

        <ProfileCard class="profile_picture"/>
    </div>
</header>
