---

import ProfilePicture from "../assets/pfp.png"
import {Image} from "astro:assets"
import "7.css/dist/7.scoped.css"
---
<div >
    <div class="window-body">
        <Image class="picture" alt="Profile_Picture"   src={ProfilePicture}></Image>
    </div>
</div>

<style>
    .picture{
        height: 10vw;
        width: auto;
        background-color: black;
        @media only screen and (max-width: 900px) {
            bottom:0;
            height: 20vw;
        }
    }
    .window-body{
        display:grid;
        justify-items: center;
        background-color:black;
        height: 10vw;
        width: auto;
        @media only screen and (max-width: 900px) {
            bottom:0;
            height: 20vw;
        }
    }
</style>