---

const {title, description, link} = Astro.props
---


<div>
    <h2> <a href={link}> {title} </a></h2>
    <p>{description}</p>
</div>


<style>

    div{
        margin-bottom: 15px;
        border: 2px solid var(--background-blue-color);
        border-radius:5px;
    }

    p{
        padding-left:10px
    }

    a{
        padding-left:10px;
        font-family: "Doto", serif;
        color:cyan;
        text-decoration: none;
        transition:0.5s;
        &:hover{
            text-decoration: underline;
        }
    }
</style>